@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;

@tailwind components;

html,
body {
  font-size: 18px;
}

@tailwind utilities;

@layer utilities {
  @variants hover, focus {
    .button-brightness {
      box-shadow: inset 0 0 28px 12px rgba(255, 255, 255, 0.3);
    }
    .gradient-border-bottom {
      color: hsl(233, 26%, 24%);
      border-width: 0 0 4px 0;
      border-style: solid;
      border-color: rgb(29 78 216);
    }
  }
}

.close-button-modal {
  cursor: pointer;
}

.close-button-modal:hover {
  background-color: #ea3b3b !important;
  transition: .5s;
}

.modal-contactus-input:hover {
  border-color: #2C4DCA !important;
}

.modal-contactus-send-button:hover {
  border-color: #2C4DCA !important;
  border-left-width: 13px;
  transition: .5s;
}

.boxshadow-animation:hover {
  box-shadow: 0 5px 15px rgb(0 0 0 / 35%);
  transition: .2s;
}

.mobTitle {
  display: flex;
}

.desktopTitle {
  display: none;
}



/* responsive */

@media only screen and (max-width: 1228px) {
  .section-container {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media only screen and (max-width: 1024px){
  
}

@media only screen and (max-width: 992px) {
  .teamManagementItem-spanContainer {
    display: none;
  }
}

@media only screen and (max-width: 875px) {
  .teamIT-container {
    margin: 10px 40px;
  }
  .section-teamIT-container {
    display: flex !important;
    justify-content: space-evenly !important;
  }
  .modal-content {
    height: auto !important;
  }
  .modal-footer {
    height: auto !important;
    flex-direction: column !important;
    align-items: center !important;
  }
  .modal-footer * {
    margin: 5px 0;
  }
}

@media only screen and (max-width: 750px) {
  .teamBannerContent {
    flex-direction: column !important;
  }
  .teamBannerContainer {
    height: 400px !important;
  }
  .teamBannerText {
    width: 70vw !important;
    margin-right: unset !important;
  }
  .teamManagementItem-container {
    flex-direction: column !important;
    align-items: center !important;
  }
  .teamManagementItem-imageContainer {
    margin-bottom: 50px !important;
  }
}

@media only screen and (min-width: 768px){ 
  .mobTitle {
    display: none;
  }

  .desktopTitle {
    display: flex;
  }
}

@media only screen and (min-width: 1120px) {
  .marginLeft {
    margin-left: -50px !important;
  }
  .marginRight {
  margin-right: -50px !important}
}

@media only screen and (max-width: 605px) {
  .teamIT-container {
    width: 370px !important;
  }
  .teamIT-imageContainer {
    width: 388px !important;
    height: 393px !important;
  }
  .first-line-modal-input{
    width: auto !important;
  }
  .modal-form-inputs-cont{
    width: auto !important;
    margin: 20px 15px !important;
  }
}

@media only screen and (max-width: 500px) {
  .teamBannerTitle {
    margin-top: 0 !important;
  }
  .firstlineInput-modal {
    flex-direction: column;
  }
  .teamextensions-title {
    font-size: 16pt !important;
  }
  .teamManagementItem-container {
    width: 95% !important;
  }
  .team-management-text {
    width: unset !important;
  }
  .teamBannerContainer {
    height: 460px !important;
  }
  .teamBannerText {
  }
}

@media only screen and (max-width: 400px) {
  .teamIT-container{
    width: 311px !important;
  }
  .teamIT-imageContainer {
    width: 340px !important;
    height: 345px !important;
  }
}


.carousel-container button[data-direction=left], .carousel-container button[data-direction=right] {
  background: url(https://cdn.dsmcdn.com/web/production/slick-arrow.svg) 50% no-repeat;
  border: none;
  cursor: pointer;
  height: 80px;
  outline: 0;
  position: relative;
  top: 20px;
  width: 20px;
  opacity: 0.5; 
}

.carousel-container button[data-direction=left] {
  left: -5px;
  transform: rotate(180deg);
}
